@font-face {
font-family: 'Snell Roundhand Black';
font-style: normal;
font-weight: normal;
src: local('Snell Roundhand Black'), url('SnellRoundhand-Black.woff') format('woff');
}

h1{
	font-family: 'Snell Roundhand Black';
	font-style: 200;
	color: #2ecba2;
}